/*----Tag Selector----*/
body{
  background-color: #FEF5ED;
  margin: 0;
}
*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #99A799;
}

/*----Class Selector----*/

    /*--Nav Class--*/
.logo{
  color: #FEF5ED;
  font-size: 70px;
  font-style: oblique;
  font-weight: bold;
  line-height: 100px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links a{
  color: #FEF5ED;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 45px;
  list-style: none;
}
.nav-links li{
  list-style: none;
}
    /*--Section Class--*/
.mid-box{
  border-style: none;
  width: 1000px;
  height: 650px;
  margin: auto;
  margin-top: 0;
  color: #99A799;
  font-style: oblique;
  font-size: 30px;
  text-align: center;
}
img.mid-box{
  width: 600px;
  height: 600px;
}
    /*--Footer Class--*/
.copyright{
  text-align: right;
}
h3.copyright{
  margin: 50px 50px 10px 0px;
}
hr{

  border-width: 2px;
  border-style:dashed;
  margin-top: 100px;
  color: #99A799;
  
}
hr.copyright{
  margin-top: 100px;
}

/*----ID Selector----*/


/*----Media Screen----*/
@media screen and (max-width:1024px){
  .nav-links{
    width: 50%;
  }
  .mid-box{
    width: 50%;
  }
}
@media screen and (max-width:768px){
    .nav-links{
      width: 60%;
    }
    .nav-links a{
      font-size: 35px;
    }
    .mid-box{
      width: 100%;
    }
    .logo{
      font-size: 50px;
    }
  }